# Core
requests
beautifulsoup4
lxml
python-dotenv

# Browser Automation
playwright
playwright-stealth

# Google Sheets
gspread
oauth2client

# Email
yagmail

# Utils
pandas
tqdm

# LLM
groq

# API
fastapi
uvicorn[standard]
