# Core
requests
beautifulsoup4
lxml
python-dotenv

# Browser Automation
playwright
playwright-stealth

# Google Sheets
gspread
oauth2client

# Email
yagmail

# Utils
pandas
tqdm

# Resume parsing
pdfplumber
python-docx

# LLM
groq
openai

# Email validation
email-validator

# API
fastapi
uvicorn[standard]
countrystatecity-countries

# Job scraping (Indeed via JobSpy)
python-jobspy
python-multipart
pdfplumber
python-docx